h1
 { text-align: center;
   color: black;
  /* background-image: url("Kultbilde.jpg"); */
  /* background-image: url("img/Gunnar2.jpg"); */
  background-position: bottom;
}
h2
{text-align: center;
   color: red;
}
h3
{text-align: center;
   color: green;
}
body
{
 /* background-image: url("Kultbilde.jpg"); */
 margin-top: 2px;
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;
 position: relative;
 font-size: 16px;
 background-color: powderblue;}
 /* {background-color: powderblue;} */

 .Firma
 {text-align: : center;}
}
.kompetanse
{text-align: : center;}
}
.Kontakt
{text-align: : center;}

p {

  text-align: center;
  color: blu;
} */
.Bilde
{ width: 100px;
  height: 100px;
/* border-radius: 50%;
border-color: grey;
border-width: 4px;
border-style: solid;
display: block;
margin-left: auto;
margin-right: auto; */

/* margin-top: top;} */
}
.Kultbilde
{ width: 500px;
  height: 300px;
align: center;
}

.sitat
{font-weight: bold;
font-style: italic;
font-size: 50px;}

.overskrift
{font-weight: bold;
font-style: italic;
font-size: 50px;}
