h1
 { text-align: center;
   color: black;
  /* background-image: url("Kultbilde.jpg"); */
  /* background-image: url("img/Gunnar2.jpg"); */
  background-position: bottom;
}
h2
{text-align: center;
}
body
{
 /* background-image: url("Kultbilde.jpg"); */
 background-color: powderblue;}
 /* {background-color: powderblue;} */
}
.Kontakt
{text-align: : center;}

p {
  text-align: center;
  color: blu;
} */
.Bilde
{ width: 100px;
  height: 100px;
border-radius: 50%;
border-color: grey;
border-width: 4px;
border-style: solid;
display: block;
margin-left: auto;
margin-right: auto;
align-items: center;
margin-top: top;}

.Kultbilde
{ width: 500px;
  height: 300px;
align: center;
}

.sitat
{font-weight: bold;
font-style: italic;
font-size: 50px;}

.overskrift
{font-weight: bold;
font-style: italic;
font-size: 50px;}
